<div class="container">
  <div class="container-form">
  <%= simple_form_for(staff) do |f| %>
    <div class="product-new text-center">Cadastro de Funcionários:</div>
    <div class="form-inputs">
      <%= f.input :first_name, label: "Nome:" %>
      <%= f.input :last_name, label: "Sobrenome:" %>
      <%= f.input :email, label: "Email:" %>
      <%= f.input :phone, label: "Telefone:", placeholder: "Somente números" %>
      <%= f.input :registration, label: "Matricula:" %>
      <div class="field">
        <%= f.label "Situação" %>
        <%= f.check_box :status %>
      </div>
    </div>
    <div class="form-actions text-center">
      <%= f.button :submit, "Enviar", class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
