<div class="container mt-4">
  <div class="clients-list">
    <% @staffs.each do |staff| %>
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= staff.first_name %> <%= staff.last_name %>
          Matricula: <%= staff.registration %>
          <i class="fas fa-envelope-square"> <%= staff.email %></i>
          <i class="fas fa-phone-square"> <%= staff.phone %></i>
          Situação: <%= staff.status ? 'Inativo' : 'Ativo' %>
        </div>
        <div class="client-links">
          <%= link_to 'Visualizar', staff_path(staff), class: 'btn btn-primary' %>
          <%= link_to 'Editar', edit_staff_path(staff), class: 'btn btn-primary mt-2' %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
  </div>
</div>
