<div class="container mt-4">
  <div class="clients-list">
    <% @staffs.each do |staff| %>
      <div class="client-dados">
        <div class="client-information">
          Nome: <%= staff.first_name %>
          Sobrenome: <%= staff.last_name %>
          Email: <%= staff.email %>
          Telefone: <%= staff.phone %>
        </div>
        <div class="client-links">
          <%= link_to 'Visualizar', staff_path(staff), class: 'btn btn-primary' %>
          <%= link_to 'Editar', edit_staff_path(staff), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
