<div class="container staff">
  <h4>Informações cadastradas:</h4>
  <div class="staff-datas">
    <div class="staff-information">
      <div class="staff-fullname">
        Nome: <%= @staff.first_name %> <%= @staff.last_name %>
      </div>
      <div class="staff-registration">
        Matricula: <%= @staff.registration %>
      </div>
      <div class="staff-information">
        E-mail: <%= @staff.email %>
      </div>
      <div class="staff-information">
        Telefone: (<%= @staff.phone.first(2) %>) - <%= @staff.phone.last(8) %>
      </div>
      <div class="staff-status">
        Situação: <%= @staff.status ? 'Inativo' : 'Ativo' %>
      </div>
    </div>
  </div>
  <div class="staff-links">
    <%= link_to :back do %>
      <i class="fas fa-undo"></i>
    <% end %>
    <%= link_to 'Editar', edit_staff_path, class: 'button' %>
    <%= link_to "Excluir", @staff, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'button' %>
  </div>
</div>
