<div class="container mt-3">
  <div class="staff">
    <div class="staff-datas">
      <div class="client-information">
        <div class="staff-fullname">
          Nome: <%= @staff.first_name %> <%= @staff.last_name %>
        </div>
        <div class="staff-registration">
          Matricula: <%= @staff.registration %>
        </div>
        <div class="staff-informations">
          <i class="fas fa-envelope-square"> <%= @staff.email %></i>
          <i class="fas fa-phone-square"> <%= @staff.phone %></i>
        </div>
        <div class="staff-status">
          Situação: <%= @staff.status ? 'Inativo' : 'Ativo' %>
        </div>
      </div>
    </div>
    <div class="staff-links">
      <%= link_to 'Voltar', :back, class: 'btn btn-primary' %>
      <%= link_to 'Editar', edit_staff_path, class: 'btn btn-primary' %>
      <%= link_to "Excluir", @staff, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-info' %>
    </div>
  </div>
</div>
