<div class="container mt-4">
  <div class="client-dados">
      <div class="service-title mt-4">
        <p>Nome: <%= @service.title %></p>
      </div>
      <div class="service-description mt-4 ">
        Descrição: <%= @service.description %>
      </div>
    <div class="client-links">
      <%= link_to 'Editar', edit_service_path, class: 'btn btn-primary mt-2' %>
      <%= link_to "Excluir", @service, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-info mt-2' %>
    </div>
  </div>
  <%= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
</div>
