<div class="container order">
  <div class="logo">
    <%= image_tag 'sf6.jpg', width: '100px' %>
    <div class="order-information">
      <h4>Ordem de Serviço n: <%= @sf6_order.id %></h4>
      <h4>Data Ordem: <%= @sf6_order.created_at.strftime("%d/%m/%Y") %></h4>
      <h4>Situação: <%= @sf6_order.status ? 'Encerrada' : 'Aberta' %></h4>
    </div>
    <div class="service-tipe">
      <div class="field">
        <% if @sf6_order.field %>
          <h5><i class="fas fa-check"> Serviço de Campo</i></h5>
        <% else %>
          <h5><i class="far fa-square"> Serviço de Campo</i></h5>
        <% end %>
      </div>
      <div class="laboratory">
        <% if @sf6_order.laboratory %>
          <h5><i class="fas fa-check"> Serviço de Laboratório</i></h5>
        <% else %>
          <h5><i class="far fa-square"> Serviço de Laboratório</i></h5>
        <% end %>
      </div>
      <div class="laboratory">
        <% if @sf6_order.factory %>
          <h5><i class="fas fa-check"> Serviço de Oficina</i></h5>
        <% else %>
          <h5><i class="far fa-square"> Serviço de Oficina</i></h5>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col">Endereço</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @sf6_order.client.razao_social %></th>
        <td><%= @sf6_order.client.cnpj %></td>
        <td><%= @sf6_order.client.phone %></td>
        <td><%= @sf6_order.client.email %></td>
        <td><%= @sf6_order.client.street %> Nº: <%= @sf6_order.client.number %></td>
        <td><%= @sf6_order.client.city %>/<%= @sf6_order.client.state %></td>
      </tr>
    </tbody>
  </table>

  <div class="order-description mb-3">
    Descrição:
    <%= @sf6_order.description %>
  </div>

  <div class="order-description mb-3 text-justify" >
    Pela presente Ordem de serviço, objetivamos informar os trabalhadores que executam suas atividades laborais nesse setor, conforme estabelece a NR-1 , item 1.7, sobre as condições de segurança e saúde às quais estão expostos, como medida preventiva e ,tendo como parâmetro os agentes físicos, químicos, e biológicos citados na NR-9 - Programa de Prevenção de Riscos Ambientais(Lei nº 6514 de 22/12/1977,Portaria nº 3214 de 08/06/1978), bem como os procedimentos de aplicação da NR-6  - Equipamento de Proteção Individual – EPI , NR-17 – Ergonomia , de forma a padronizar comportamentos para prevenir acidentes e/ou doenças ocupacionais e NR-10 Segurança Em Instalações e Serviços em Eletricidade.
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Responsável tec.</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Matrícula</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @sf6_order.user.first_name %> <%= @sf6_order.user.last_name %></th>
        <td><%= @sf6_order.user.email %></td>
        <td><%= @sf6_order.user.phone %></td>
        <td><%= @sf6_order.user.registration %></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Responsável Cliente</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= @sf6_order.contact.first_name %> <%= @sf6_order.contact.last_name %></th>
        <td><%= @sf6_order.contact.email %></td>
        <td><%= @sf6_order.contact.phone %></td>
      </tr>
    </tbody>
  </table>

  <div class="order-description mb-3">
    Local de Execução:
    <%= @sf6_order.service_location %>
  </div>

  <% if @sf6_orderservices.count > 0 %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Descrição dos Serviços</th>
          <th scope="col">Equipamento</th>
          <th scope="col">Série</th>
          <th scope="col">Status</th>
          <th scope="col">Finalizado</th>
        </tr>
      </thead>
      <% @sf6_orderservices.each do |orderservice| %>
        <tbody>
          <tr>
            <th scope="row"><%= orderservice.service.title %></th>
            <td scope="row"><%= orderservice.machine.name %></td>
            <td scope="row"><%= orderservice.machineserie %></td>
            <% if orderservice.status %>
              <td><i class="fas fa-check"></i> Finalizada</td>
              <td><%= orderservice.updated_at.strftime("%d/%m/%Y") %> -
                <%= orderservice.updated_at.strftime("%k:%M") %>h</td>
            <% else %>
              <td><i class="far fa-square"></i> Aberta</td>
              <td></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>

  <div class="order-description mb-3">
    Descrição:
    <%= @sf6_order.comments %>
  </div>

  <% if @sf6_order.utensils.count > 0 %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Equipamentos</th>
        </tr>
      </thead>
      <% @sf6_order.utensils.each do |utensil| %>
        <tbody>
          <tr>
            <td><%= utensil.name %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>

  <% if @epi_sf6orders.count > 0 %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Quantidade</th>
          <th scope="col">Descrição</th>
        </tr>
      </thead>
      <% @epi_sf6orders.each do |epi| %>
        <tbody>
          <tr>
            <td><%= epi.amount %></td>
            <td><%= epi.epi.name %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>

  <div class="links mt-3 text-center">
    <%= link_to 'Voltar', :back, class: 'btn btn-primary' %>
    <%  if @sf6_order.status == true || current_user.admin %>
      <%= link_to 'Editar', edit_sf6_order_path(@sf6_order), class: 'btn btn-primary' %>
      <% if @sf6_order.sf6_report %>
        <%= link_to 'Visualizar Laudo', sf6_report_path(@sf6_order.sf6_report), class: "btn btn-primary" %>
      <% else %>
        <%= link_to 'Gerar Laudo', new_sf6_order_sf6_report_path(@sf6_order), class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Excluir", @sf6_order, method: :delete, data: { confirm: 'Tem certeza que deseja deletar esta ordem de serviço?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>

</div>
