<div class="container">
  <div class="container-form">
    <h3 class="text-center">Cadastro de usuário</h3>
    <%= simple_form_for(@user, url: create_user_path) do |f| %>

      <div class="form-inputs">
        <%= f.input :first_name, label: 'Nome:' %>
        <%= f.input :last_name, label: 'Sobrenome' %>
        <%= f.input :admin, as: :radio_buttons, label: 'Administrador' %>
        <%= f.input :role, collection: ['Cliente', 'Funcionário'] %>
        <%= f.input :client_id, collection: Client.all.map {|client| [client.razao_social, client.id] }, label: 'Cliente' %>
        <%= f.input :email, label: 'Email' %>
        <%= f.input :phone, label: 'Telefone' %>
        <%= f.input :password, label: 'Senha' %>
        <%= f.input :password_confirmation, label: 'Confirme a senha' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("devise.invitations.new.submit_button"), class: 'btn btn-primary d-block' %>
      </div>
    <% end %>
  </div>
</div>
