<div class='container order'>
    <div class="logo">
        <%= image_tag 'logo.jpg', width: '100px' %>
    </div>

    <table class="table table-bordered mt-2">
        <thead>
        <tr>
            <th scope="col">Ordem de Serviço</th>
            <th scope="col">Data OS</th>
            <th scope="col">Situação</th>
            <th scope="col">Serviço de Campo</th>
            <th scope="col">Serviço de Laboratório</th>
            <th scope="col">Serviço de Oficina</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-center"><%= @order.id %></th>
            <td class="text-center"><%= @order.created_at.strftime("%d/%m/%Y") %></td>
            <td class="text-center"><%= @order.status ? 'Encerrada' : 'Aberta' %></td>
            <% if @order.field %>
                <td class="text-center"><i class="fas fa-check"></i></td>
            <% else %>
                <td></td>
            <% end %>
            <% if @order.laboratory %>
                <td class="text-center"><i class="fas fa-check"></i></td>
            <% else %>
                <td></td>
            <% end %>
            <% if @order.factory %>
                <td class="text-center"><i class="fas fa-check"></i></td>
            <% else %>
                <td></td>
            <% end %>            
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Endereço</th>
            <th scope="col">Cidade</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><%= @order.client.razao_social %></th>
            <td><%= @order.client.cnpj %></td>
            <td><%= @order.client.phone %></td>
            <td><%= @order.client.email %></td>
            <td><%= @order.client.street %> Nº: <%= @order.client.number %></td>
            <td><%= @order.client.city %>/<%= @order.client.state %></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Responsável Cliente</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><%= @order.contact.first_name %> <%= @order.contact.last_name %></th>
            <td><%= @order.contact.email %></td>
            <td><%= @order.contact.phone %></td>
        </tr>
        </tbody>
    </table>
    <div class="order-description mb-3 text-justify" >
        <strong>Introdução:</strong> Estudos realizados por instituições de pesquisas em energia elétrica, bem como fabricantes dos equipamentos elétricos, demonstram que a ocorrência de falhas incipientes nos equipamentos isolados a SF6, provocam a decomposição parcial deste gás, ocasionando a formação de compostos que podem fornecer informações sobre a existência ou não destas falhas incipientes, potenciais causadores de vazamentos. As descargas elétricas de baixa ou alta energia em hexafluoreto de enxofre (SF6) levam à geração e ao acúmulo de produtos de decomposição estáveis. Um dos efeitos negativos destes produtos sobre as superfícies isolantes de disjuntores e compartimentos de subestações é a redução substancial da resistência de superfície bem como uma degeneração irreversível dos elementos isolantes, condutores e de vedação por corrosão. Além disso, é também de fundamental importância, do ponto de vista da durabilidade e da manutenção preventiva dos equipamentos, o controle da qualidade do gás isolante relativamente à contaminação por umidade e outras impurezas, que ocorre quando o equipamento apresenta vazamentos. O gás hexafluoreto de enxofre (SF6) é mais de 22.000 vezes mais ativo na geração do efeito estufa do que o dióxido de carbono (CO2) e persiste na atmosfera por mais de 3.000 anos. Assim sua emissão à atmosfera é restrita pelo tratado de Viena, no âmbito do protocolo de Kioto. É, portanto, de fundamental importância o controle dos vazamentos em instalações elétricas isoladas a gás SF6. verificação de possíveis pontos de vazamentos e contaminação do gás de equipamentos isolados a SF6 possibilita o levantamento e orientará as necessidades localizadas de manutenção corretiva bem como a criação de um banco de dados para o acompanhamento e controle de emissões e reposição de gás.
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Descrição dos Serviços Prestados</th>
          <th scope="col">Equipamento</th>
          <th scope="col">Série</th>
          <th scope="col">Finalizado</th>
        </tr>
      </thead>
      <% @order.orderservices.each do |orderservice| %>
        <tbody>
          <tr>
            <th scope="row"><%= orderservice.service.title %></th>
            <td scope="row"><%= orderservice.machine.name %></td>
            <td scope="row"><%= orderservice.machineserie %></td>
            <% if orderservice.status %>
              <td><%= orderservice.updated_at.strftime("%d/%m/%Y") %> -
                <%= orderservice.updated_at.strftime("%k:%M") %>h</td>
            <% else %>
              <td></td>
            <% end %>
            <% if orderservice.orderservice_reports.count > 0 %>
                <%= render 'shared/service_reports_show', orderservice: orderservice %>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>

    <%= simple_form_for(@vegoor_report) do |f| %>
        <%= f.input :goal, label: "Objetivo" %>
        <%= f.hidden_field :order_id %>
        <%= f.input :reception_test, label: "Texte de recepção" %>
        <%= f.input :conclusion, label: "Conclusão" %>
        <%= f.input :observations, label: "Observações" %>
        <%= f.check_box :warrant %>
        <%= f.label "Garantia" %>
        <%= f.button :submit, "Salvar", class: 'btn btn-primary mt-3' %>
    <% end %>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Responsável tec.</th>
            <th scope="col">Email</th>
            <th scope="col">Telefone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><%= @order.user.first_name %> <%= @order.user.last_name %></th>
            <td><%= @order.user.email %></td>
            <td><%= @order.user.phone %></td>
        </tr>
        </tbody>
    </table>

</div>

