<div class='container'>
    <%= simple_form_for(@vegoor_report) do |f| %>
        <%= f.input :order_id, collection: Order.all.map { |order| [order.client.razao_social, order.id ] }, label: "Ordem de Serviço" %>
        <%= f.input :goal, label: "Objetivo" %>
        <%= f.input :reception_test, label: "Texte de recepção" %>
        <%= f.input :conclusion, label: "Conclusão" %>
        <%= f.input :observations, label: "Observações" %>
        <%= f.check_box :warrant %>
        <%= f.label "Garantia" %>
        <%= f.button :submit, "Salvar", class: 'btn btn-primary mt-3' %>
    <% end %>
</div>