<div class="container order">
    
    <div class="logo">
        <%= render 'shared/report_header', order: @vegoor_report.order %>
    </div>

    <%= render 'shared/client', order: @vegoor_report.order %>

    <div class="order-description mb-3 text-justify" >
        <strong>Introdução:</strong>
        <%= show_message_report %>
    </div>

    <div class="order-description mb-3 text-justify" >
        <strong>Objetivos:</strong>
        <%= @vegoor_report.goal %>
    </div>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Descrição dos Serviços Executados</th>
                <th scope="col">Equipamento</th>
                <th scope="col">Série</th>
                <th scope="col">Status</th>
                <th scope="col">Finalizado</th>
            </tr>
        </thead>
        <% @vegoor_report.order.orderservices.each do |orderservice| %>
            <tbody>
                <tr>
                    <th scope="row"><%= orderservice.service.title %></th>
                    <td scope="row"><%= orderservice.machine.name %></td>
                    <td scope="row"><%= orderservice.machineserie %></td>
                    <% if orderservice.status %>
                        <td><i class="fas fa-check"></i> Finalizada</td>
                        <td><%= orderservice.updated_at.strftime("%d/%m/%Y") %> -
                        <%= orderservice.updated_at.strftime("%k:%M") %>h</td>
                    <% else %>
                        <td><i class="far fa-square"></i> Aberta</td>
                        <td></td>
                    <% end %> 
                </tr>
            </tbody>
            
            <% if orderservice.orderservice_reports.count > 0 %>
                <%= render 'shared/service_reports_show', orderservice: orderservice %>
            <% end %>
        <% end %>
    </table>

    <div class="order-description mb-3 text-justify" >
        <strong>Teste de Recepção:</strong>
        <%= @vegoor_report.reception_test %>
    </div>

    <div class="order-description mb-3 text-justify" >
        <strong>Conclusões:</strong>
        <%= @vegoor_report.conclusion %>
    </div>

    <div class="order-description mb-3 text-justify" >
        <strong>Observações e Recomendações:</strong>
        <%= @vegoor_report.observations %>
    </div>

    <div class="order-description mb-3 text-justify" >
        <strong>Garantia do Fabricante: </strong>
        <%= @vegoor_report.warrant ? 'Sim' : 'Não' %>
    </div>

    <div class="order-description mb-3 text-justify" >
        <%= Date.today.strftime("%d/%m/%Y") %>
    </div>

    <% if @vegoor_report.photos.attached? %>
        <% @vegoor_report.photos.each do |photo| %>       
            <%= image_tag photo, height: 300, width: 400, crop: :fill %>
        <% end %>
    <% end %>
    
    <div class="links mt-3 text-center">
        <% if @vegoor_report.status %>
            <%= link_to  'Abrir Laudo', vegoor_report_close_report_path(@vegoor_report), class: 'btn btn-primary' %>
            <%= link_to "Gerar PDF", vegoor_report_path(format: :pdf), class: 'btn btn-primary', target: '_blank' %>
        <% else %>
            <%= link_to  'Fechar Laudo', vegoor_report_close_report_path(@vegoor_report), class: 'btn btn-primary' %>
            <%= link_to 'Editar', edit_vegoor_report_path(@vegoor_report), class: 'btn btn-primary' %>
            <%= link_to "Excluir", @vegoor_report, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este Laudo?' }, class: 'btn btn-danger' %>
        <% end %>
            <%= link_to 'Visualizar OS', order_path(@vegoor_report.order), class: 'btn btn-primary' %>
    </div>

</div>
