<table class="table table-bordered mt-2">
    <thead>
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Endereço</th>
            <th scope="col">Cidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><%= order.client.razao_social %></th>
            <td><%= order.client.cnpj %></td>
            <td><%= order.client.phone %></td>
            <td><%= order.client.email %></td>
            <td><%= order.client.street %> Nº: <%= order.client.number %></td>
            <td><%= order.client.city %>/<%= order.client.state %></td>
        </tr>
    </tbody>
</table>