<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.jpg", width: '50px' %>
  <% end %>
  <%= current_user.first_name %>
  <!-- Links -->
  <% if user_signed_in? %>
    <ul class="navbar-nav w-100 justify-content-around">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Usuários
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Novo', new_user_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar', users_path, class: "dropdown-item text-light" %>
          <%= link_to 'Novo téc.', new_staff_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar tec.', staffs_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Clientes
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Novo', new_client_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar', clients_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Equipamentos
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Novo equipamento', new_utensil_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar equipamentos', utensils_path, class: "dropdown-item text-light" %>
          <%= link_to 'Nova maquina', new_machine_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar maquinas', machines_path, class: "dropdown-item text-light" %>
          <%= link_to 'Novo Epi', new_epi_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar Epis', epis_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Serviços
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Novo', new_service_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar', services_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Ordens de Serviço
        </a>
        <div class="dropdown-menu bg-dark">
          <%= link_to 'Nova OS Veggor', new_order_path, class: "dropdown-item text-light" %>
          <%= link_to 'Listar OSs Vegoor', orders_path, class: "dropdown-item text-light" %>
          <%= link_to 'Nova OS SF6', new_sf6_order_path, class: "dropdown-item text-light"%>
          <%= link_to 'Listar OSs SF6', sf6_orders_path, class: "dropdown-item text-light" %>
        </div>
      </li>

      <!-- <form class="form-inline" action="/action_page.php">
         <input class="form-control mr-sm-2" type="text" placeholder="Search">
         <button class="btn btn-success" type="submit">Search</button>
      </form> -->

      <li class="nav-item">
        <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  <% end %>
</nav>
