<div class="order-information">
    <% if order.company_id == 1 %>
        <%= image_tag 'logo.jpg', width: '100px' %>
        <strong>Order de Serviço: <%= order.vegoor_order %></strong>
    <% else %>
        <%= image_tag 'sf6.jpg', width: '100px' %>
        <strong>Ordem de Serviço: <%= order.sf6_order %></strong>
    <% end %>
    <h4><%= order.company.name %></h4>
    <h4><%= order.company.addrees %></h4>
    <h4>Data Ordem: <%= order.created_at.strftime("%d/%m/%Y") %></h4>
    <h4>Situação: <%= order.status ? 'Encerrada' : 'Aberta' %></h4>
</div>
<div class="service-tipe">
    <div class="field">
    <% if order.field %>
        <h5><i class="fas fa-check"> Serviço de Campo</i></h5>
    <% else %>
        <h5><i class="far fa-square"> Serviço de Campo</i></h5>
    <% end %>
    </div>
    <div class="laboratory">
    <% if order.laboratory %>
        <h5><i class="fas fa-check"> Serviço de Laboratório</i></h5>
    <% else %>
        <h5><i class="far fa-square"> Serviço de Laboratório</i></h5>
    <% end %>
    </div>
    <div class="laboratory">
    <% if order.factory %>
        <h5><i class="fas fa-check"> Serviço de Oficina</i></h5>
    <% else %>
        <h5><i class="far fa-square"> Serviço de Oficina</i></h5>
    <% end %>
    </div>
</div>