<% if order.company_id == 1 %>
    <%= image_tag 'logo.jpg', width: '100px' %>
    <% if order.vegoor_report.status %>
        Relat贸rio Final: <%= order.vegoor_order %>
    <% else %>
        Relat贸rio Preliminar: <%= order.vegoor_order %>
    <% end %>
<% else %>
    <%= image_tag 'sf6.jpg', width: '100px' %>
    <% if order.vegoor_report.status %>
        Relat贸rio Final: <%= order.sf6_order %>
    <% else %>
        Relat贸rio Preliminar: <%= order.sf6_order %>
    <% end %>
<% end %>
<div>
    <%= order.company.name %>
    <%= order.company.addrees %>
    <%= order.company.phone %>
</div>