<div class='nested-fields'>
  <h6>Escolha o serviço</h6>
  <%= f.select :service_id, Service.all.map { |service| ["#{service.title} | #{service.description}", service.id] }, include_blank: true, required: true, class: 'w-100' %>
  <%= f.select :machine_id, Machine.all.map { |machine| [ machine.name, machine.id]}, label: 'Maquina' %>
  <%= f.input :machineserie, label: 'Numero de série' %>
  <%= f.label "Marcar como finalizado" %>
  <%= f.check_box :status %>
  <%= link_to_remove_association "Remover", f, class: "btn btn-danger mb-2 d-block" %>
</div>

