<div class="container">
  <div class="container-form">
    <div class="order-number">
      Ordem de Serviço número: <%= set_company(@order)[0] %> 
      Empresa: <%= set_company(@order)[1] %>
    </div>
    <div class="order-date">
      Data: <%= Date.today.strftime("%d/%m/%Y") %>
    </div>
    <%= simple_form_for(@order) do |f| %>
      <div class="product-new text-center">
        Editar Ordem de Serviço:
      </div>

      <div class="form-inputs">
        <div class="factory">
          <%= f.label "Situação" %>
          <%= f.check_box :status, data: { confirm: 'Tem certeza que deseja deletar esta ordem de serviço?' } %>
        </div>
        <div class="new">
          <p>
            <%= f.check_box :field %>
            <%= f.label "Serviço de Campo" %>
          </p>
          <p>
            <%= f.check_box :laboratory %>
            <%= f.label "Serviço de Laboratório" %>
          </p>
           <p>
            <%= f.check_box :factory %>
            <%= f.label "Serviço de Oficina" %>
          </p>
        </div>
        <%= f.input :description, label: "Descrição" %>
        <%= f.input :user_id, collection: User.where(role: "Técnico").map { |user| ["#{user.first_name} #{user.last_name}", user.id ] }, label: "Responsável Técnico:" %>        <%= f.input :client_id, collection: Client.all.map { |client| [client.razao_social, client.id ] }, label: "Cliente:" %>
        <%= f.input :location, label: "Local de execução" %>
        <%= f.input :contact_id, collection: User.where(role: 'Cliente').map { |user| ["#{user.first_name} #{user.last_name}", user.id ]}, label: "Contato Cliente" %>

        <%= f.simple_fields_for :orderservices do |service| %>
          <%= render 'orderservice_fields', :f => service %>
        <% end %>

        <div class='links-div'>
          <%= link_to_add_association 'Adicionar Serviço', f, :orderservices, class: 'btn btn-primary my-3 d-block' %>
        </div>

        <%= f.input :comments, label: "Observações" %>

        <%= f.simple_fields_for :orderutensils do |utensil| %>
          <%= render 'orderutensil_fields', :f => utensil %>
        <% end %>

        <div class='links-div'>
          <%= link_to_add_association 'Adicionar Equipamento', f, :orderutensils, class: 'btn btn-primary my-3 d-block' %>
        </div>


        <%= f.simple_fields_for :epi_orders do |epi| %>
          <%= render 'epi_order_fields', :f => epi %>
        <% end %>
        <div class='links-div'>
          <%= link_to_add_association 'Selecionar Epis', f, :epi_orders, class: 'btn btn-primary my-3 d-block' %>
        </div>

      </div>

      <div class="form-actions text-center">
        <%= link_to 'Voltar', :back, class: 'btn btn-primary' %>
        <%= f.button :submit, "Salvar", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
