<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Número OS</th>
        <th scope="col">Empresa</th>
        <th scope="col">Cliente</th>
        <th scope="col">Situação</th>
        <th scope="col">Visualizar</th>
        <th scope="col">Visualizar</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= set_company(order)[0] %></th>
          <th scope="row"><%= set_company(order)[1] %></th>
          <td><%= order.client.razao_social %></td>
          <td><%= order.status ? 'Encerrada' : 'Aberta' %></td>
          <td><%= link_to 'Visualizar', order_path(order) %></td>
          <% if order.vegoor_report %>
            <td><%= link_to 'Laudo', vegoor_report_path(order.vegoor_report) %></td>
          <% elsif order.status && order.vegoor_report == false %>
            <td><%= link_to 'Gerar Laudo', new_vegoor_report_path(order) %></td>
          <% else %>
            <td><%= link_to 'Fechar Os', order_path(order) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
