<div class="container mt-4">
  <div class="clients-list">
    <% @orders.each do |order| %>
      <div class="client-dados">
        <div class="order-number mt-4">
          Número da ordem de Serviço: <%= order.id %>
        </div>
        <div class="order-client mt-4">
          Cliente: <%= order.client.razao_social %>
        </div>
        <div class="order-status mt-4">
          Situação: <%= order.status ? 'Encerrada' : 'Aberta' %>
        </div>
        <div class="client-links">
          <%= link_to 'Visualizar', order_path(order), class: 'btn btn-primary' %>
          <%  if order.status %>
          <% else %>
            <%= link_to 'Editar', edit_order_path(order), class: 'btn btn-primary mt-2' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
