<div class="container">
  <div class="container-form">
    <div class="order-number">
      <%= image_tag 'logo.jpeg', width: '100px' %>
      Ordem de Serviço Vegoor: <%#= Order.last.id + 1 %>
    </div>
    <div class="order-date">
      Data: <%= Date.today.strftime("%d/%m/%Y") %>
    </div>
  <%= simple_form_for(@order) do |f| %>
    <div class="product-new text-center">Nova Ordem de Serviço:</div>
    <div class="form-inputs">
      <%= f.input :description, label: "Descrição" %>
      <%= f.input :staff_id, collection: Staff.all.map { |staff| ["#{staff.first_name} #{staff.last_name}", staff.id ] }, label: "Responsável Técnico:" %>
      <%= f.input :client_id, collection: Client.all.map { |client| [client.razao_social, client.id ] }, label: "Cliente:" %>
      <%= f.input :location, label: "Local de execução" %>

      <%= f.simple_fields_for :orderservices do |service| %>
        <%= render 'orderservice_fields', :f => service %>
      <% end %>
      <div class='links-div'>
        <%= link_to_add_association 'Adicionar Serviço', f, :orderservices, class: 'btn btn-primary my-3' %>
      </div>

      <%= f.simple_fields_for :orderutensils do |utensil| %>
        <%= render 'orderutensil_fields', :f => utensil %>
      <% end %>
      <div class='links-div'>
        <%= link_to_add_association 'Adicionar Equipamento', f, :orderutensils, class: 'btn btn-primary my-3' %>
      </div>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, "Criar Ordem de Serviço", class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>
