<div class="container">
  <div class="container-form">
    <div class="order-number">
      <%= image_tag 'logo.jpg', width: '100px' %>
      Ordem de Serviço Vegoor: <%#= Order.last.id + 1 %>
    </div>
    <div class="order-date">
      Data: <%= Date.today.strftime("%d/%m/%Y") %>
    </div>
    <%= simple_form_for(@order) do |f| %>
      <div class="text-center">
        Nova Ordem de Serviço:
      </div>
      <div class="form-inputs">
        <%= f.input :description, label: "Descrição" %>
        <%= f.input :user_id, collection: User.where(role: 'Técnico').map {|user| [ "#{user.first_name} #{user.last_name}", user.id]}, label: "Responsável Técnico:" %>
        <%= f.input :client_id, collection: Client.all.map { |client| [client.razao_social, client.id ] }, label: "Cliente:" %>
        <%= f.input :location, label: "Local de execução" %>
        <%= f.input :contact_id, collection: User.all.map { |user| ["#{user.first_name} #{user.last_name}", user.id ]}, label: "Contato Cliente" %>

        <%= f.simple_fields_for :orderservices do |service| %>
          <%= render 'orderservice_fields', :f => service %>
        <% end %>
        <div class='links-div'>
          <%= link_to_add_association 'Adicionar Serviço', f, :orderservices, class: 'btn btn-primary d-block mb-3' %>
        </div>

        <%= f.input :comments, label: "Observações" %>

        <%= f.simple_fields_for :orderutensils do |utensil| %>
          <%= render 'orderutensil_fields', :f => utensil %>
        <% end %>
        <div class='links-div'>
          <%= link_to_add_association 'Adicionar Equipamento', f, :orderutensils, class: 'btn btn-primary d-block mt-3' %>
        </div>

        <%= f.simple_fields_for :epi_orders do |epi| %>
          <%= render 'epi_order_fields', :f => epi %>
        <% end %>
        <div class='links-div'>
          <%= link_to_add_association 'Selecionar Epis', f, :epi_orders, class: 'btn btn-primary my-3 d-block' %>
        </div>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Salvar", class: 'btn btn-primary mt-3' %>
      </div>
    <% end %>
  </div>
</div>
