<div class="container">
  <div class="show-order">
    Ordem de Serviço: <%= @order.id %>
    Data: <%= @order.created_at.strftime("%d/%m/%Y") %>
    Cliente: <%= @order.client.razao_social %>
    Endereço: <%= @order.location %>
  </div>

  <div class="staff-informations">
    Responsável técnico:
    <%= @order.staff.first_name %>
    <%= @order.staff.last_name %>
    E-mail:
    <%= @order.staff.email %>
    Telefone:
    <%= @order.staff.phone %>
  </div>

  <div class="show-order-services">
    Serviços:
    <% if @order.services.count > 0  %>
      <% @order.services.each do |service| %>
        <%= service.title %>
        <% if @order.status %>
          <p>Serviço Concluido</p>
        <% else %>
          <p>Serviço não concluido</p>
        <% end %>
      <% end %>
    <% else %>
      <p>Esta ordem de serviço não possui serviços associado.</p>
    <% end %>
  </div>

  <div class="show-order-equipments">
    Equipamentos:
    <% if @order.utensils.count > 0 %>
      <% @order.utensils.each do |utensil| %>
        <%= utensil.name %>
      <% end %>
    <% else %>
      Esta ordem de serviço não possui equipamentos associados.
    <% end %>
  </div>

  <div class="links">
    <%= link_to 'Editar', edit_order_path, class: 'btn btn-primary' %>
    <%= link_to "Excluir", @order, method: :delete, data: { confirm: 'Tem certeza que deseja deletar este cliente?' }, class: 'btn btn-danger' %>
  </div>

</div>
