<div class="container-home">
  <ul class="menu cf">
    <li>
      <a href="">Staff</a>
      <ul class="submenu">
        <li>
          <%= link_to 'Novo Staff', new_staff_path%>
        </li>
        <li>
          <%= link_to 'Staffs', staffs_path %>
        </li>
      </ul>
    </li>
    <li>
      <a href="">Clientes</a>
      <ul class="submenu">
        <li>
          <%= link_to 'Novo Clientes', new_client_path%>
        </li>
        <li>
          <%= link_to 'Clientes', clients_path %>
        </li>
        <li>
          <%= link_to 'Convidar', new_user_invitation_path %>
        </li>
      </ul>
    </li>
    <li>
      <a href="">Equipamentos e Serviços</a>
      <ul class="submenu">
        <li>
          <%= link_to 'Novo Equipmaneto', new_utensil_path%>
        </li>
        <li>
          <%= link_to 'Equipamentos', utensils_path %>
        </li>
        <li>
          <%= link_to 'Novo Serviço', new_service_path%>
        </li>
        <li>
          <%= link_to 'Serviços', services_path %>
        </li>
      </ul>
    </li>
    <li>
      <a href="">Ordens de Serviço</a>
      <ul class="submenu">
        <li>
          <%= link_to 'Nova OS Veggor', new_order_path%>
        </li>
        <li>
          <%= link_to 'OSs Vegoor', orders_path %>
        </li>
        <li>
          <%= link_to 'Nova OS SF6', new_order_path%>
        </li>
        <li>
          <%= link_to 'OSs SF6', orders_path %>
        </li>
      </ul>
    </li>

  </ul>
</div>
