<div class="container-home">
  <section class="grid grid-template-columns-1">
    <div class="item">
      <div class="users">
        <%= link_to new_client_path do %>
          Novo cliente
        <% end %>
      </div>

      <div class="users">
        <%= link_to clients_path do %>
          Clientes
        <% end %>
      </div>
    </div>

    <div class="item">
      <div class="users">
        <%= link_to new_staff_path do %>
          Novo Funcionário
        <% end %>
      </div>

      <div class="users">
        <%= link_to staffs_path do %>
          Funcionários
        <% end %>
      </div>
    </div>




    <div class="item">
      <div class="users">
        <%= link_to new_utensil_path do %>
          Novo Equipamento
        <% end %>
      </div>

      <div class="users">
        <%= link_to utensils_path do %>
          Equipamentos
        <% end %>
      </div>
    </div>

    <div class="item">
      <div class="users">
        <%= link_to new_service_path do %>
          Novo Serviço
        <% end %>
      </div>

      <div class="users">
        <%= link_to services_path do %>
          Serviços
        <% end %>
      </div>
    </div>

    <div class="item">
      <div class="users">
        <%= link_to new_order_path do %>
          Nova Ordem de Serviço
        <% end %>
      </div>

      <div class="users">
        <%= link_to orders_path do %>
          Ordens de Serviço
        <% end %>
      </div>
    </div>

    <div class="item">
      <div class="users">
        <li><%= link_to 'Invite', new_user_invitation_path %></li>
      </div>
    </div>

  </section>
</div>

