<div class="container">
  <div class="users">
    <%= link_to new_client_path do %>
      Cadastro de clientes
    <% end %>
  </div>

  <div class="users">
    <%= link_to clients_path do %>
      Mostrar clientes
    <% end %>
  </div>

  <div class="users">
    <%= link_to new_staff_path do %>
      Cadastro de Funcionário
    <% end %>
  </div>

  <div class="users">
    <%= link_to staffs_path do %>
      Mostrar Funcionários
    <% end %>
  </div>

  <div class="users">
    <%= link_to equipments_path do %>
      Mostrar Equipamentos
    <% end %>
  </div>

  <div class="users">
    <%= link_to new_equipment_path do %>
      Cadastrar Equipamento
    <% end %>
  </div>

  <div class="users">
    <%= link_to new_service_path do %>
      Cadastrar Serviço
    <% end %>
  </div>

  <div class="users">
    <%= link_to services_path do %>
      Mostrar Serviços
    <% end %>
  </div>

  <div class="users">
    <%= link_to new_service_order_path do %>
      Nova Ordem de Serviço
    <% end %>
  </div>


</div>
