<div class="container mt-4">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Empresa</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>
        <th scope="col">E-mail</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <th scope="row"><%= company.id %></th>
          <td><%= company.name %></td>
          <td><%= company.addrees %></td>
          <td><%= company.phone %></td>
          <td><%= company.email %></td>
          <td><%= link_to 'Visualizar', company_path(company) %></td>
          <td><%= link_to 'Editar', edit_company_path(company) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%#= link_to 'Voltar', :back, class: 'btn btn-primary mt-3' %>
</div>
