<h1>Confirmação de Ordem de Serviço</h1>

<div class="order-information">
    <% if @order.company_id == 1 %>
        <%= image_tag 'logo.jpg', width: '100px' %>
        <strong>Order de Serviço: <%= @order.vegoor_order %></strong>
    <% else %>
        <%= image_tag 'sf6.jpg', width: '100px' %>
        <strong>Ordem de Serviço: <%= @order.sf6_order %></strong>
    <% end %>
    <h4><%= @order.company.name %></h4>
    <h4><%= @order.company.addrees %></h4>
    <h4>Data Ordem: <%= @order.created_at.strftime("%d/%m/%Y") %></h4>
    <% if @order.canceled %>
        <h4>Situação: Cancelada</h4>
    <% else %>
        <h4>Situação: <%= @order.status ? 'Encerrada' : 'Aberta' %></h4>
    <% end %>
</div>

<p>Atenciosamente;</p>
<p><%= @order.company.name %></p>
<p>Acesse <a href="https://vegoorapp.herokuapp.com/orders/<%= "#{@order.id}" %>">Abrir Ordem de Serviço</a></p>
